body {
  color: $font-color;
}


.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding: 10px 20px;
    background: #5196CC;
    margin-left: 3px;
  }
}